.footer {
  width: 100%;
  background-color: #4a5459;
  color: white;
}

.footer p {
  color: white;
}

.footer-content {
  max-width: $desktopMinWidth;
  padding: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.footer-menu {
  display: inline-block;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
  text-align: justify;
}
